$color--red : #ad1212;
$color--green : #6acc6a;
$color--sky : #009cde;
$color--blue: #003f87;


//Default Colors
$color--bg-default : #e6eef8;
$color--text-default : #2f3940;
$color--headings-default: #2f3940;
$color--btn-default: $color--sky;
