$color--red : #ad1212;
$color--green : 'rgb(64, 177, 30)';
$color--sky : #009cde;


//Default Colors
$color--bg-default : #ccc;
$color--text-default : #2f3940;
$color--headings-default: #2f3940;
$color--btn-default: $color--sky;
