.email-article.email-article--preview {
  margin: 0 auto .5em; 
  padding:0;
  min-height:auto; 
  box-shadow:none; 
  border-radius: 0; 
  background-color: #fff;

  &>table {
    width:100%;
  }

  td.email-article__image {
    vertical-align:top;

    img {
      width:100%;
    }
  }

  td.email-article__content {
    vertical-align:top;
  }

  .email-article__title {
    font-size:22px; 
    font-weight:bold;
    padding:20px 30px;
    color: $color--headings-default;
  }

  /*.email-article__date {
    font-style:italic; 
    font-weight:bold;
  }*/

  .email-article__text {
    font-size:16px; 
    line-height:140%;
    padding:0 30px 20px;
    color:$color--text-default;
  }

  .email-article__btn {
    padding:20px 30px 30px;
    a {
      background:$color--btn-default; 
      border:1px solid $color--btn-default;
      padding:15px 50px;
      text-decoration:none;
      display:inline-block;
      font-size:16px;
      color: #fff; 

      &:hover {
        color:#fff;
      }
    }
  }
}  
