
  #newImageButton {
    cursor:pointer;
    padding:.5em;
    background:#30CC30;
    border-radius:4px; 
    border:1px solid #589A58;
    color:#FFF;
    text-shadow:1px 1px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    opacity:.7;
    transition:all .3s;
  }
  
  #newImageButton:hover {
    opacity:1;
  }
  
  #imageGallery {
    background:#CDCDCD; 
  }
  
  #imageEditor {
    display:none;
    background:#CCC; 
    border: 1px solid #003F87; 
    border-radius:5px; 
    box-shadow:rgba(0,0,0,.3); 
    width:600px; 
    margin:0 auto; 
    height:500px;
    position:relative;
  }
  
  
  .gallery-section:first-child {margin-top:0px;}
  
  .gallery-section {
    margin:1em 0;
    padding:1em;
    border-bottom:1px solid #333; 
  }
  
  
  .gallery-section-image {
    position:relative;
    margin:.5em;
    padding:.5em;
    box-shadow:1px 1px 2px rgba(0,0,0,0.3);
    float:left;
    background:#555;
    
  }
  
  .gallery-section-image img {
    display:block;
    margin:0 auto;
  }
  

/*Image-Select*/

.image-wrap {
  position:fixed;
  left:0;
  top:0;
  padding:2em 5em;
  height:100%;
  width:100%;
  z-index:10000;

  .image-inner-wrap {
    width:100%; 
    position:relative;
  }

  .image-select,
  .image-add {
      width:100%;
    position:relative;
    z-index:7500;
  }

  h4 {
    color: #fff;
  }
  
}

.image-select__section {
  position:relative;
  margin-bottom:1.5em;
  border-bottom:1px dashed #fff;
  display:flex;
  justify-content:space-between;


  
  .image-select__item {
    position:relative;
    display:inline-block;
    width:30%;
    margin:5px auto;
    border:1px solid #222;

    &:hover {
      border:1px solid #555;

      .image-select__item__delete-btn {
        opacity:0.8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  img {
    width:100%;
    display:block;
    cursor:pointer;    
  }

  .image-select__item__delete-btn {
    font-size:16px;
    display:block;
    opacity:0;
    position:absolute;
    right:-.5em;
    top:-.5em;
    cursor:pointer;
    transition: all .2s;

    .fa-circle {
      color: #f00;
    }

    .fa-times {
      color: #fff;
    }

    
  }
}

.overlay {
  position:fixed;
  left:0;
  top:0;
  background:rgba(255, 255, 255, 0.75);
  height:100%;
  width:100%;
  z-index:5000;
}

.image-select__add-new-img-btn {
  color: #fff;
  border:1px solid #ccc;
  background-color:$color--green;
}





