.form-control {height:auto!important;}

.ta-hidden-input {display:none}

//Shorten the min-height of textAngular window
.ta-scroll-window.form-control,
.ta-scroll-window > .ta-bind {
  min-height:200px;
}

//Styles for html elements created inside the textAngular input
.ta-editor {
  * {outline:none;}

  p {
    padding-bottom:1em;
  }

  ul, 
  ol {
    padding-left:25px;
  }

  blockquote {
    font-size:1em;
  }
}
