<td style="padding:16px 30px 32px;">
    <table align="left" cellpadding="0" cellspacing="0" style="font-family:'Myriad Pro', arial,helvetica, sans-serif; padding:8px 12px;">
        <tr>
            <td style="background:#009cde; text-align:center; color:#FFF; border:1px solid #40b5e6;">
              <a href="{{buttonlink}}" style="background-color:#009cde; border:15px solid #009cde; border-left-width:40px; border-right-width:40px; text-decoration:none; color:#FFF; display:inline-block; font-size:16px; font-weight:500; letter-spacing:.25px;">{{buttontext}}</a>
            </td>
        </tr>
    </table>
</td>
