
<div class="email-article email-article--preview">
    <table cellpadding="0" cellspacing="0">
    	<tr ng-if="section.image">
            <td class="email-article__image">
                <img ng-src="{{section.image}}">
            </td>
        </tr>
        <tr>
        	<td class="email-article__content">
            	<div class="email-article__title">{{section.title}}</div>
                <div  class="email-article__date" ng-if="section.date">{{section.date}}</div>
                <div class="email-article__text" ng-bind-html="section.text"></div>
                <div ng-if="section.readmorebutton.active" class="email-article__btn">
                    <a ng-href="{{section.readmorebutton.link}}" target="_blank">{{section.readmorebutton.text}}</a>
                </div>
            </td>
        </tr>
    </table>
</div>

